@model IEnumerable<AAO_AdminPanel.Models.Driver>

@{
    ViewData["Title"] = "Index";
}

<h1>Drivers</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.User.Fullname)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.User.Phone)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.User.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DriverLicenses)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Active)
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.User.Fullname)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.User.Phone)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.User.Email)
            </td>
            <td>
                @foreach (var l in item.DriverLicenses)
                {
                    @Html.DisplayFor(modelItem => l.License.LicenseName)
                }
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Active)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.DriverID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.DriverID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.DriverID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
