@model IEnumerable<AAO_AdminPanel.Models.Driver>

@{
    ViewData["Title"] = "Afløser Oversigt";
}

<div class="table-container">
    <h1>Afløser oversigt</h1>
    <form asp-action="Index" method="get">

        <input type="hidden" name="sortDirection" value="@ViewData["sortDirection"]" />
        <input type="hidden" name="sortField" value="@ViewData["sortField"]" />

        <div class="form-horizontal mb-4">
            <div class="row">
                <div class="col-7">
                    <div class="row justify-content-start ml-auto">
                        <div class="col-auto">
                            <label class="filter-label">@Html.DisplayNameFor(model => model.StartLocation)</label><br />
                            @Html.DropDownList("StartLocationID", null, "Alle", htmlAttributes: new { @class = "trip-filter", onchange = "submit()" })
                        </div>
                        <div class="col-auto">
                            <label class="filter-label">Kørekort type</label><br />
                            @Html.DropDownList("LicenseID", null, "Alle", htmlAttributes: new { @class = "trip-filter", onchange = "submit()" })
                        </div>
                        <div class="col-auto">
                            <label class="filter-label">Afløser pr. side</label><br />
                            @Html.DropDownList("pageSizeID", null, htmlAttributes: new { @class = "trip-filter", onchange = "submit()" })
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <table class="table">
            <thead class="driver-table">
                <tr>
                    <th>
                        <button type="submit" name="actionButton" value="Navn" class="sort-link pl-0 mr-3">@Html.DisplayNameFor(model => model.User.Fullname)<span class="sort-arrow"> ⇅</span></button>
                    </th>
                    <th>
                        <button type="submit" name="actionButton" value="Phone" class="sort-link pl-0 mr-3">@Html.DisplayNameFor(model => model.User.Phone)<span class="sort-arrow"> ⇅</span></button>
                    </th>
                    <th>
                        <button type="submit" name="actionButton" value="Email" class="sort-link pl-0 mr-3">@Html.DisplayNameFor(model => model.User.Email)<span class="sort-arrow"> ⇅</span></button>  
                    </th>
                    <th>
                        <button type="submit" name="actionButton" value="License" disabled="disabled" class="sort-link pl-0 mr-3">@Html.DisplayNameFor(model => model.DriverLicenses)</button>
                    </th>
                    <th>
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr class="showmore">
                        <td>
                            @Html.DisplayFor(modelItem => item.User.Fullname)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.User.PhonePretty)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.User.Email)
                        </td>
                        <td>
                            @foreach (var l in item.DriverLicenses)
                            {
                                if (l != item.DriverLicenses.Last()) 
                                {                                   
                                    @Html.DisplayFor(modelItem => l.License.LicenseName)
                                    <span>-</span>
                                }
                                else if(l == item.DriverLicenses.Last())
                                {
                                    @Html.DisplayFor(modelItem => l.License.LicenseName)
                                }
                            }
                        </td>
                        <td class="arrow1">
                            <a class="showmore">
                                <img id="imgdown" class="fa-sort-down rotate" data-toggle="tooltip" title="Se afløser info" src="~/img/arrow.svg"/> 
                            </a>
                        </td>
                    </tr>
                    <tr class="rowdetail">
                        <td colspan="6">
                            <div class="driver-info">
                                <div class="info-column">
                                    <h4>Chauffør Information</h4>
                                    <div class="info-grid">
                                        <p><b>@Html.LabelFor(modelItem => item.User.Firstname)</b></p>
                                        <p>@Html.DisplayFor(modelItem => item.User.Firstname)</p>
                                        <p><b>@Html.LabelFor(modelItem => item.User.Lastname)</b></p>
                                        <p>@Html.DisplayFor(modelItem => item.User.Lastname)</p>
                                        <p><b>@Html.LabelFor(modelItem => item.User.Email)</b></p>
                                        <p>@Html.DisplayFor(modelItem => item.User.Email)</p>
                                        <p><b> @Html.LabelFor(modelItem => item.User.Phone)</b></p>
                                        <p>@Html.DisplayFor(modelItem => item.User.PhonePretty)</p>
                                        <p><b>@Html.LabelFor(modelItem => item.DriverLicenses)</b></p>
                                        <p>
                                            @foreach (var l in item.DriverLicenses)
                                            {
                                                if (l != item.DriverLicenses.Last()) {
                                                    
                                                    @Html.DisplayFor(modelItem => l.License.LicenseName)
                                                    <span>-</span>
                                                }
                                                else if(l == item.DriverLicenses.Last())
                                                {
                                                    @Html.DisplayFor(modelItem => l.License.LicenseName)
                                                }
                                            }
                                        </p>
                                    </div>
                                    <div>
                                        <div class="driver-controls">
                                            <button class="activity @(item.Active ? "active" : "inactive") btn btn-secondary" data-toggle="tooltip" title="Aktiv/Inaktiv" data-delay=100 asp-action="DriverActivation" asp-route-id="@item.DriverID" onclick="alert('Vil du @(item.Active ? "deaktivere" : "aktivere") chaufføren?')"><i class="fas fa-moon"></i></button>                                            
                                            <button class="btn btn-danger" data-toggle="tooltip" title="Slet" asp-action="Delete" asp-route-id="@item.DriverID"><i class="fas fa-trash"></i></button>
                                        </div>
                                    </div>
                                </div>
                                <div class="info-column">
                                    <h4>Rådighed</h4>
                                    <table class="availability-table">
                                        <thead>
                                            <tr>
                                                <th>Startdato</th>
                                                <th>Slutdato</th>
                                                <th>Starttid</th>
                                                <th colspan="2"></th>

                                            </tr>
                                        </thead>
                                        <tbody>
                                            @foreach (var a in item.Availabilities)
                                            {
                                                <tr class="@(a.Status == true ? "available" : "unavailable")">
                                                    <td>@Html.DisplayFor(modelItem => a.StartDateString)</td>
                                                    <td>@Html.DisplayFor(modelItem => a.EndDateString)</td>
                                                    <td>@Html.DisplayFor(modelItem => a.StartTimeString) </td>
                                                    <td class="table-btn"><a asp-action="EditAvailability" asp-route-id="@a.AvailabilityID"><i class="fas fa-pen"></i></a></td>
                                                    <td class="table-btn"><a asp-action="DeleteAvailability" asp-route-id="@a.AvailabilityID"><i class="fas fa-trash"></i></a></td>
                                                </tr>
                                            }
                                        </tbody>
                                    </table>
                                    <div class="availability-controls">
                                        <button class="btn submitBtn" asp-action="AddTripToDriver" asp-route-id="@item.DriverID">Tildel tur</button>
                                        <button class="btn submitBtn" asp-action="CreateAvailability" asp-route-id="@item.DriverID">Opret periode</button>
                                    </div>
                                </div>
                            </div>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
        <partial name="_PagingNavBar" />
    </form>
        </div>
      