@model IEnumerable<AAO_AdminPanel.Models.Request>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Trip)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Driver)
            </th>
            <th class="statusGreen">
                @Html.DisplayNameFor(model => model.Status)
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {

        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.TripID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Driver.User.Fullname)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StatusID)
                @Html.DisplayFor(modelItem => item.Status.Name)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.RequestID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.RequestID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.RequestID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
