@model AAO_AdminPanel.Models.Trip

@{
    ViewData["Title"] = "Slet Tur";
}

<h1>Slet Tur</h1>

<h3>Er du sikker på at du vil slette denne tur?</h3>
<div>
    <h4>Trip</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StartDateAndTime)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StartDateAndTime)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StopDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StopDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Duration)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Duration)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.User)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.User.UserID)
        </dd class>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Traffic)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Traffic.TrafficID)
        </dd class>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Department)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Department.DepartmentID)
        </dd class>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Startlocation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Startlocation.StartLocationID)
        </dd class>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Urgent)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Urgent)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="TripID" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
