@model List<AAO_AdminPanel.Models.Request>


<h1>Rediger chauffører på tur</h1>

@using (Html.BeginForm("EditDriversConfirmed", "Trips", FormMethod.Post))
{
    <table id="table1" class="table table-striped table-bordered display">
            <thead>
                <tr>
                    <th>
                        
                    </th>
                   @* <th>@Html.DisplayName("RequestID")</th>
                    <th>@Html.DisplayName("DriverID")</th>                    
                    <th>@Html.DisplayName("TripID")</th>*@
                    <th>@Html.DisplayName("Chauffør")</th>
                    <th>@Html.DisplayName("E-mail")</th>
                    <th>@Html.DisplayName("Telefon")</th>
                    <th>@Html.DisplayName("Kørekort")</th>
                    <th>@Html.DisplayName("Status")</th>
                </tr>
            </thead>
            <tbody>
                
            @for (int item = 0; item < Model.Count(); item++)
            {       
                <tr>
                    <td>
                        <div class="icheck-primary">
                            @Html.CheckBoxFor(modelItem => Model[item].StatusBool)
                            <label for="checkboxPrimary1"></label>
                        </div>
                        @Html.HiddenFor(modelItem => Model[item].RequestID)
                        @Html.HiddenFor(modelItem => Model[item].DriverID)
                        @Html.HiddenFor(modelItem => Model[item].TripID)
                    </td>                 
                    <td>
                        @Html.DisplayFor(modelItem => Model[item].Driver.User.Fullname)                        
                    </td>                    
                    <td>
                        @Html.DisplayFor(modelItem => Model[item].Driver.User.Email)                        
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => Model[item].Driver.User.PhonePretty)                        
                    </td>
                    <td>
                        @foreach (var license in Model[item].Driver.DriverLicenses)
                    {
                        @Html.DisplayFor(modelItem => license.License.LicenseName)
                    }
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => Model[item].Status.Name)                        
                    </td>
                </tr>
            }    
            </tbody>
        </table>
    

    <input type="submit" value="Gem ændringer" class="submitBtn" />
}
