@model IEnumerable<AAO_AdminPanel.Models.Trip>

@{
    ViewData["Title"] = "Index";
}

<h1>Oversigt over ture</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                <a asp-action="Index" asp-route-startOrder="@ViewData["StartDateSort"]">@Html.DisplayNameFor(model => model.StartDateAndTime)</a>
            </th>
            <th>
                <a asp-action="Index" asp-route-stopOrder="@ViewData["StopDateSort"]">@Html.DisplayNameFor(model => model.StopDate)</a>
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Duration)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.User)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Traffic)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Department)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Startlocation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Urgent)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.StartDateAndTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StopDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Duration)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.User.Firstname) @Html.DisplayFor(modelItem => item.User.Lastname)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Traffic.StartCountry.Code)
                 - 
                @Html.DisplayFor(modelItem => item.Traffic.StopCountry.Code)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Department.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Startlocation.Location)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Urgent)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.TripID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.TripID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.TripID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
