@model IEnumerable<AAO_AdminPanel.Models.Trip>


@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>

                @Html.DisplayNameFor(model => model.StartDateAndTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StopDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Duration)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Urgent)
            </th>

            @*<th>
                @Html.DisplayNameFor(model => model.Traffic)
            </th>*@
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.StartDateAndTime)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.StopDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Duration)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Urgent)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.TripID">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.TripID">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.TripID">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
